@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Cantata+One|Pinyon+Script|Roboto');

html, body
{
    width: 100%;
    height: 100%;
    font-family: "Cantata One", serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Cantata One", serif !important;
}

.bold
{
    font-weight: bold;
}

.color-dark
{
    background-color: #504034;
    color: #FFF;
}

.border-dark
{
    border-color: #504034 !important;
}

.color-light
{
    background-color: #655041;
    color: #FFF;
}

.color-gold
{
    background-color: #ffc90e;
    color: #000;
}

.window
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 85vh;
    max-width: 125vh;
    box-shadow: 4px 4px 16px 8px #000;
    z-index: 2;
}

.window-content
{
    position: absolute;
    margin-top: 47px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.window-table
{
    position: absolute;
    margin-top: 47px;
    top: 0;
    bottom: 0;
    width: 100%;
}

.window-list
{
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.window-list li
{
    padding: 8px 16px;
    border-bottom: 1px solid #FFF;
    height: 10%;
}

.window-list .active
{
    background: #333;
}



.window-chat-history
{
    height: 80%;
    overflow-y: auto;
    padding: 8px 16px;
}

.flag
{
    position: relative;
    width: 50px;
    height: 33px;

    margin-right: 8px;

    top: 50%;
    transform: translateY(-50%);

    background-size: contain;
    background-repeat: no-repeat;
}



.flag.nl
{
    background-image: url('../images/flags/nl.png');
}

.flag.at
{
    background-image: url('../images/flags/at.png');
}

.flag.fr
{
    background-image: url('../images/flags/fr.png');
}

.flag.it
{
    background-image: url('../images/flags/it.png');
}

.flag.news
{
    background-image: url('../images/flags/news.png');
}

.flag.pl
{
    background-image: url('../images/flags/pl.png');
}

.flag.pr
{
    background-image: url('../images/flags/pr.png');
}

.flag.ru
{
    background-image: url('../images/flags/ru.png');
}

.flag.se
{
    background-image: url('../images/flags/se.png');
}

.flag.uk
{
    background-image: url('../images/flags/uk.png');
}

.chat-bubble
{
    padding: 8px 8px;
    width: 75%;
    margin-bottom: 16px;
    color: #FFF;
    clear: both;
    line-height: 2;
    border-radius: 0 8px 8px 8px;
}

.chat-line
{
    margin-bottom: 8px;
    font-size: 0.8em;
    line-height: 1;
}

.chat-bubble.right
{
    float: right;
    border-radius: 8px 0 8px 8px !important;
}

.recrute-row
{
    width: 100%;
    height: 40%;
}

.recrute-total
{
    width: 100%;
    height: 20%;
    color: #FFF;
    padding: 8px 16px;
}

.recrute-icon
{
    position: relative;
    width: 25px;
    height: 25px;

    margin-right: 8px;

    top: 50%;
    transform: translateY(-50%);

    background-size: contain;
    background-repeat: no-repeat;
}

.recrute-icon
{
    position: relative;
    width: 25px;
    height: 25px;

    margin-right: 8px;

    top: 50%;
    transform: translateY(-50%);

    background-size: contain;
    background-repeat: no-repeat;
}

.city.nl
{
    background-image: url('../images/icons/city_nl.png');
}

.army.nl
{
    background-image: url('../images/icons/army_nl.png');
}

.recrute-icon.fort.nl
{
    background-image: url('../images/icons/fort_nl.png');
}

.ttip-content
{
    position: absolute;
    visibility: hidden;

    bottom: 150%;

    width: 100%;

    padding: 2px 4px;
    color: #FFF;
    background: #504034;
    z-index: 3;
}

.ttip
{
    position: relative;
}


.ttip-left
{
    position: absolute;
    visibility: hidden;

    right: 100%;

    width: 100%;

    padding: 4px 8px;
    color: #FFF;
    /*background: #504034;*/
    background: #333;

    z-index: 4;
}



.ttip:hover .ttip-content, .ttip:hover .ttip-left
{
    visibility: visible;
}




.data-row
{
    width: 100%;
    height: 80%;
}

.portrait
{
    height: 100%;
    background-size: auto 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.recrute-buttons
{
    width: 100%;
    height: 20%;
}

.recrute-btn
{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 0px;
    width: 100%;
    text-align: center;
    color: #FFF;
    background-color: #504034;
    border: 1px solid #fff200;
}

.recrute-btn:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #fff200;
}

.fuselier.nl
{
    background-image: url('../images/country_soldier/fuselier_nl.png');
}

.jager.nl
{
    background-image: url('../images/country_soldier/jager_nl.png');
}

.grenadier.nl
{
    background-image: url('../images/country_soldier/grenadier_nl.png');
}

.commander.nl
{
    background-image: url('../images/country_soldier/commander_nl.png');
}



.window-chat-box
{
    height: 20%;
}

.chat-input
{
    padding: 8px;
    height: 100%;
    resize: none;
    border: none;
    color: #FFF;
}

.chat-send
{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;


}

.window-list li:last-child
{
    border-bottom: none;
}

.window-title
{
    position: relative;
}

.close-btn
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper
{
    position: relative;
    height: 100%;
    /* width: 133.333vh */
    width: 125vh;
    margin: 0 auto;
}

.main-top
{
    position: absolute;
    /* height: 10.002%; */
    height: 9.399%;
    width: 100%;
}

.main-canvas
{
    display: block;
    width: 100%;
    /* height: 63.281%;*/
    /*height: 68.577%;*/
    height: 100%;
}

.cursor-grab
{
    cursor: grab;
}

.cursor-grabbing
{
    cursor: grabbing;
}

.cursor-pointer
{
    cursor: pointer;
}

.main-bottom
{
    position: absolute;
    width: 100%;
    /* height: 26.692%;*/
    height: 25.024%;
    bottom: 0px;
}

/* scalable text */
.text-sc
{
    font-size: 12px;
}

@media screen and (min-height: 640px)
{
    .text-sc
    {
        font-size: 15px;
    }
}

@media screen and (min-height: 800px)
{
    .text-sc
    {
        font-size: 18px;
    }
}

@media screen and (min-height: 1000px)
{
    .text-sc
    {
        font-size: 21px;
    }
}

/* ================
// -- Bars --------
// ==============*/

.column-478
{
    float: left;
    height: 100%;
    width: 23.330%;
}

.column-106
{
    float: left;
    height: 100%;
    width: 5.180%
}

.column-668
{
    float: left;
    height: 100%;
    width: 32.615%;
}

.column-hbar
{
    height: 6.829%;
}

.top-column-content
{
    height: 81.818%;
}

.perkament
{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/ui/perkament_dark.png");
    background-size: cover;
}

.column-top
{
    height: 57.561%;
}

.column-bottom
{
    height: 25.610%;
}

.row-half
{
    height: 50%;
}


/* ====
// -- Crown container
// =====*/

.crown-container
{
    position: absolute;
    top: 6px;
    left: 50%;
    width: 30vh;
    transform: translateX(-50%);
}


.crown
{
    padding-bottom: 55.061%;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

.crown-nl
{
    background-image: url("../images/country_detail/crown_nl.png");
}

/* =====
// -- Country Detail
// ======*/

.palm
{
    margin: 0px auto;
    height: 100%;
    width: 100%;
    /*transform: scaleX(-1);*/

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.palm.nl
{
    background-image: url("../images/country_detail/palm_nl.png");
}



.coa
{
    height: 100%;
    width: 100%;

    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: auto 65%;
}

.coa-left-nl
{
    background-image: url("../images/country_detail/coa_left_nl.png");
}

.coa-right-nl
{
    background-image: url("../images/country_detail/coa_right_nl.png");
}

.garland
{
    height: 100%;
    width: 100%;

    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: contain;
}

.garland.nl
{
    background-image: url("../images/country_detail/garland_nl.png");
}

.fh
{
    height: 100%;
}

.table-tex
{
    background-image: url("../images/table_tex.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.top-bar
{
    background-image: url("../images/ui/top_fixed.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-bar
{
    background-image: url("../images/ui/bottom_fixed.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.unit-background
{
    background-image: url("../images/unit_backgrounds/nederland.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.v-center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* ==========
 * -- Buttons
 * ========*/

.button-table
{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.button
{
    margin: 0px auto;
    width: 50%;
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    outline: 1px solid #fff200;
}

.button-l
{
    margin: 0px auto;
    width: 33.333%;
    padding-bottom: 33.333%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    outline: 1px solid #fff200;
}

.button:hover, .button-l:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #fff200;
}

.alliance
{
    background-image: url("../images/buttons/alliance_off.png");
}

.balloon
{
    background-image: url("../images/buttons/balloon_off.png");
}

.fort
{
    background-image: url("../images/buttons/fort_off.png");
}

.king
{
    background-image: url("../images/buttons/king_off.png");
}

.message
{
    background-image: url("../images/buttons/message_off.png");
}

.spy
{
    background-image: url("../images/buttons/spy_off.png");
}

.secret
{
    background-image: url("../images/buttons/secret_off.png");
}

.book
{
    background-image: url("../images/buttons/book_off.png");
}

.statistics
{
    background-image: url("../images/buttons/statistics_off.png");
}

/* --- Per country ---- */

.book.nl
{
    background-image: url("../images/buttons/book_nl.png");
}

.statistics.nl
{
    background-image: url("../images/buttons/statistics_nl.png");
}

.soldiers.nl
{
    background-image: url("../images/buttons/soldiers_nl.png");
}

.message.nl
{
    background-image: url("../images/buttons/message_nl.png");
}

.help.nl
{
    background-image: url("../images/buttons/help_nl.png");
}

.fort.nl
{
    background-image: url("../images/buttons/fort_nl.png");
}

.balloon.nl
{
    background-image: url("../images/buttons/balloon_nl.png");
}

.king.nl
{
    background-image: url("../images/buttons/king_nl.png");
}

.spy.nl
{
    background-image: url("../images/buttons/spy_nl.png");
}

.alliance.nl
{
    background-image: url("../images/buttons/alliance_nl.png");
}

.secret.nl
{
    background-image: url("../images/buttons/secret_nl.png");
}


/* Utility */

.tooltip .tooltiptext
{
    display: none;
}

.tooltipbox
{
    position: absolute;
    z-index: 1;
    bottom: 27.5%;
    left: 50%;

    width: 400px;
    margin-left: -200px;

    background-color: #333;
    color: #FFF;
    border-radius: 2px;
    padding: 8px;

    text-align: center;
}

.no-text
{
    cursor: default;
}
